*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.App{
  width: 330px;
  margin: auto;
  background-image: linear-gradient(hsl(213, 19%, 18%),hsl(216, 12%, 8%));
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.star-img{
  background-color: #000;
  display: inline-block;
}

.star-img img{
  width: 15px;
  height: 15px;
}
.circle-effect{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle-effect.li{
  padding-top: 10px;
}
.feedback-text{
  margin: 20px 0;
}

.feedback-text p{
  margin: 15px 0;
  font-size: 14px;
  line-height: 25px;
}

.star-rating{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  list-style-type: none;
  margin: 20px 0;
  /* direction: rtl; */
}

.star-rating li{
  /* background-color: #000; */
  font-size: 14px;
  cursor: pointer;
}

.star-rating li:hover{
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

.star-rating li:hover + li{
  background-color: hsl(217, 12%, 63%);
}


.star-rating li:active{
  transform: translateY(0px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.632);

}

.submit-button{
   width: 100%;
   padding: 10px 0;
   border: none;
   border-radius: 30px;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
   cursor: pointer;
}

.submit-button:hover{
  transform: translateY(-1.5px);
  color: hsl(25, 97%, 53%);
  background-color: #fff;
}

.submit-button:active{
  transform: translateY(-1px);
}

.submit-link{
  text-decoration: none !important;
  display: block;
  margin: 15px 0;
  
}

.Complete{
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
}

.Complete section{
  text-align: center;
}

.Complete h2{
  margin: 10px 0;
}
.Complete h3{
  margin-top: 10px;
  font-size: 12px;
}

.orange-text{
  color: hsl(25, 97%, 53%);
}

.orange-bg{
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

.dark-blue_bg{
  background-color: hsl(213, 19%, 18%);
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.632);
}
